/* ==UserStyle==
@name           Rule34
@namespace      rule34.xxx
@version        1.0.3
@description    UserCSS for rule34.xxx
@author         waitingmoon
==/UserStyle== */

@-moz-document domain("rule34.xxx") {
    /* グローバル */
    body {
        word-wrap: break-word;
    }
    body,
    div,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    ul,
    li,
    dd,
    dt {
        font-family: "Segoe UI", sans-serif;
    }
    /* ヘッダー */
    div#header {
        margin-bottom: 24px;
    }
    /* お気に入り */
    span.thumb {
        box-sizing: border-box;
        display: inline-block;
        width: calc(100% / 10 - 2.4px); /* 右側の余白を2.4px*10にする */
        height: auto;
        padding-left: 24px;
        margin-bottom: 24px;
    }
    span.thumb a:nth-of-type(1) {
        position: relative;
        display: block;
        width: 100%;
        height: 0;
        padding-top: 100%;
    }
    span.thumb a:nth-of-type(1) img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    span.thumb a:nth-of-type(2) {
        display: block;
        height: auto;
        margin-top: 12px;
    }
    /* 投稿 */
    div#content {
        padding: 0 24px;
    }
    div#post-list div.content {
        width: 100%;
    }
    div#post-list div.content > div:first-of-type {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-left: -24px;
    }
    div#post-list div.content > div:first-of-type span.thumb {
        box-sizing: border-box;
        display: block;
        float: none;
        width: calc(100% / 7);
        height: auto;
        padding: 0 0 0 24px;
        margin: 0 0 24px 0;
    }
    div#post-list div.content > div:first-of-type span.thumb a {
        position: relative;
        display: block;
        width: 100%;
        height: 0;
        padding-top: 100%;
    }
    div#post-list div.content > div:first-of-type span.thumb a img {
        position: absolute;
        top: 0;
        left: 0;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    div#post-list div.content > div:first-of-type span.thumb a img[style*="border: 3px"] {
        border: 0 !important;
    }
    /* サイドバー */
    div.sidebar {
        width: 240px;
        min-width: 240px;
        max-width: 240px;
        margin: 0 24px 0 0;
    }
    /* ページ送り */
    div#paginator {
        padding: 0;
        margin: 0 auto 24px;
        font-size: 0; /* inline-blockで生じる空白を消す */
    }
    div#paginator a,
    div#paginator b {
        display: inline-block;
        width: 32px;
        height: 32px;
        padding: 0;
        margin: 0 4px 4px 0;
        font-size: 0.75rem;
        line-height: 32px;
        background-color: var(--c-bg-alt);
        border: 0;
        border-radius: 32px;
    }
    div#post-list div#paginator form {
        display: inline-block !important;
    }
    div#post-list div#paginator input {
        padding-right: 8px;
        padding-left: 8px;
        margin: 0 4px 4px 0;
        line-height: 32px;
        color: var(--c-link);
        background: var(--c-bg-alt) !important;
        border: 0;
        border-radius: 32px;
    }
    div#paginator input:focus {
        outline: 0;
    }
    div#paginator input:nth-child(2) {
        margin-right: 0;
        cursor: pointer;
    }
    /* 非表示 */
    script + br,
    span.thumb br {
        display: none;
    }
    div#post-list div.content > div:first-of-type span.blacklisted-image,
    div#post-list div.content > a[href*="r34-tan-webcamcover"],
    div#post-list div.content > br,
    div#post-view div.content > br {
        display: none;
    }
    div#post-list div.sidebarRight,
    div#post-list img[src*="r34chibi.png"],
    div#post-view img[src*="r34chibi.png"] {
        display: none;
    }
    div.verticalFlexWithMargins,
    div.horizontalFlexWithMargins,
    img[src="https://rule34.xxx/images/shirt2.jpg"]
    {
        display: none;
    }
}
